@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Poppins', sans-serif;
}

.search-box{
    text-align: center;
    height: 25px;
    width: 300px;
    background: #ffffff;
    margin: auto 0;
    border-radius: 5px;
    padding: 0;
}

.btn-buscar{
    margin: 0;
    padding: 0;
    height: 25px;
    width: 30px;
}

.row{
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.row input{
    flex: 1;
    height: 50px;
    background: transparent;
    border: 0;
    outline: 0;
    font-size: 18px;
    color: #181818;
}

img{
    max-width: 100%;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.header{
    display: flex;
    align-items: center;
    background: linear-gradient(
        90deg,
        rgba(241,237,220,1) 0%,
        rgba(255,255,253,1) 50%,
        rgba(252,246,232,1) 100%
    );
    padding: 70px 0;
}

.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-size: 25px;
    color: #ff3C2A;
    text-transform: uppercase;
    font-weight: 800;
    width: 150px;
    padding: 15px;
}

.menu .navbar ul li{
    position: relative;
    float: left;
}

.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: #111111;
    display: block;
}

.menu .navbar ul li a:hover{
    color: #ff3C2A;
}

#menu{
    display: none;
}

.menu-icono{
    width: 25px;
}

.menu label{
    cursor: pointer;
    display: none;
}

.submenu{
    position: relative;
}

.submenu #carrito{
    display: none;
}

.submenu:hover #carrito{
    display: block;
    position: absolute;
    right: 0;
    backdrop-filter: blur(10px);
    top: 100%;
    z-index: 1;
    background-color: #4E4B5076;
    padding: 20px;
    min-width: 400px;
}

table{
    width: 100%;
}

th, td{
    color: #ffffff;
}

.borrar{
    background-color: #ff3C2A;
    border-radius: 50%;
    padding: 5px 10px;
    color: #ffffff;
    font-weight: 800;
    cursor: pointer;
}

p{
    color: #4b4b4b;
    font-size: 18px;
    margin-bottom: 25px;
}

.btn-1, .btn-3{
    display: inline-block;
    padding: 10px 30px;
    color: #ff3C2A;
    border: 2px solid #ff3C2A;
    text-transform: capitalize;
    border-radius: 15px;
}

.btn-1:hover, .btn-3:hover{
    color: #ffffff;
    background-color: #ff3C2A;
}

.btn-2:hover{
    color: #181818;
    background-color: #ffffff;
}

.header-img{
    flex-basis: 60%;
}

.oferts{
    padding: 100px 0;
}

h2{
    margin: 15px 0;
    font-size: 40px;
    line-height: 1;
    color: #181818;
    margin-bottom: 10px;
}

.oferts-content{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.ofert-1{
    flex-basis: calc(30% -30px);
    box-shadow: 0 0 20px rgb(0, 0, 0, 0.2);
    padding: 25px;
    text-align: center;
    background-color: #f7fafa;
    border-radius: 10px;
}

.ofert-1 img{
    width: 130px;
    height: 170px;
    margin-bottom: 10px;
}

h3{
    font-size: 20px;
    line-height: 1;
    color: #181818;
    margin-bottom: 10px;
}

.product.txt p{
    margin-bottom: 10px;
}

.precio{
    color: #ff3C2A;
    font-weight: 700;
    margin-bottom: 20px;
}

.btn-3 {
    padding: 4px 20px;
}

.logan-1{
    flex-basis: 40%;
    background: linear-gradient(
        rgba(0,0,0,0.2),
        rgba(0,0,0,0.2)
    ),
    url(img/FondoManga.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    border-radius: 10px;
}

.logan-2{
    flex-basis: 40%;
    background: linear-gradient(
        rgba(0,0,0,0.2),
        rgba(0,0,0,0.2)
    ),
    url(img/FondoComics.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    border-radius: 10px;
}

.logan-1 h3, .logan-2 h3{
    font-size: 30px;
    color: #ffffff;
    text-transform: uppercase;
}

.logan-1 p, .logan-2 p{
    font-size: 18px;
    text-transform: uppercase;
    color: #f7f7f7;
    margin-bottom: 20px;
}

.btn-2{
    display: inline-block;
    padding: 8px 30px;
    border: 1px solid #ffffff;
    color: #ffffff;
    border-radius: 15px;
}

.promotion{
    padding: 80px 0;
    background-color: #f7f7f7;
}

.promotion-content{
    display: flex;
}

.promotion-txt{
    flex-basis: 50%;
}

.promotion-img{
    flex-basis: 50%;
    text-align: center;
}

.promotion-img img{
    width: 250px;
}

.producto{
    padding: 100px 0;
    text-align: center;
}

.product-content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin-bottom: 50px;
}

.blog{
    padding: 50px 0 100px 0;
}

.blog-content{
    display: flex;
    justify-content: space-between;
}

.blog-1{
    flex-basis: calc(33.3% - 30px);
    margin-top: 25px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

#lista-2 {
    margin-top: 30px;
}

.blog-txt{
    padding: 40px;
}

.btn-4{
    display: inline-block;
    border: 1px solid #181818;
    padding: 8px 25px;
    font-size: 17px;
    text-transform: capitalize;
    color: #181818;
}
.footer{
    padding: 70px 0;
    display: flex;
    justify-content: space-between;
    background-color: #ff9000;
    color: #fff;
    text-align: center;
}

.row{
    display: flex;
    flex-wrap: wrap ;
}

.footer-col{
    width: 20%;
    padding: 0 15px;
}

.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover{
    color: #bbbbbb;
    padding-left: 8px;
}

.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin-right: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.3s ease;
}

.footer-col .social-links a:hover{
    color: #4b4b4b;
    background-color: #ffffff;
}

.link h3{
    font-size: 17px;
    color: #181818;
    margin-bottom: 10px;
    text-align: center;
}

.link ul li{
    font-size: 17px;
    color: #181818;
    display: block;
    margin-bottom: 10px;
    text-align: center;
}

.link a:hover{
    color: #ff3C2A;
}

@media(max-width:991px){
    .menu{
        padding: 20px;
    }

    .menu label{
        display: initial;
    }

    .menu .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #ff9000;
        display: none;
    }

    .menu .navbar ul li{
        width: 100%;
    }

    #menu:checked ~ .navbar{
        display: initial;
    }

    .logo{
        display: none;
    }

    .menu .navbar ul li a:hover{
        color: #ffffff;
    }

    .header{
        min-height: 0vh;
        padding: 100px 30px 50px 30px;
    }

    .header-content{
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .header-txt{
        margin-bottom: 25px;
    }

    .oferts{
        padding: 30px;
    }

    .oferts-content{
        flex-direction: column;
    }

    .ofert-1{
        margin-bottom: 30px;
    }

    .logan-1, .logan-2{
        order: -2;
        margin-bottom: 30px;
    }

    .promotion{
        padding: 30px;
    }

    .promotion-content{
        flex-direction: column;
        text-align: center;
    }

    .promotion-txt{
        margin-bottom: 25px;
    }

    .promotion-img img{
        width: 200px;
    }

    .product{
        padding: 30px;
    }

    .product-content{
        grid-template-columns: repeat(1,1fr);
        gap: 0;
    }

    .blog{
        padding: 30px;
    }

    .blog-content{
        flex-direction: column;
    }

    .footer-col{
        width: 50%;
        margin: 30px;
    }
}