.product {
    display: block; /* Cambiar a block */
    margin: 10px;  /* Espaciado entre productos */
    padding: 10px; /* Espaciado interno */
    border: 1px solid #ccc; /* Bordes para que se vea más claro */
    border-radius: 5px; /* Bordes redondeados */
}

.product img {
    max-width: 100%; /* Asegurarse de que la imagen no sobrepase el contenedor */
    height: auto; /* Mantener la proporción de la imagen */
}

/* Para el contenedor de productos */
#productContainer {
    display: flex; /* Usar flexbox para alinearlos */
    flex-wrap: wrap; /* Permitir que se ajusten a varias líneas */
    justify-content: flex-start; /* Alinear a la izquierda */
}
