.product {
    display: block; /* Cambiar a block */
    margin: 15px;  /* Espaciado entre productos */
    padding: 15px; /* Espaciado interno */
    border: 1px solid #e0e0e0; /* Bordes más suaves */
    border-radius: 10px; /* Bordes más redondeados */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra suave para darle profundidad */
    transition: transform 0.2s, box-shadow 0.2s; /* Efecto de transición suave */
}

.product:hover {
    transform: translateY(-5px); /* Elevar el producto al pasar el mouse */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada al pasar el mouse */
}

.product img {
    max-width: 200px; /* Asegurarse de que la imagen no sobrepase el contenedor */
    height: auto; /* Mantener la proporción de la imagen */
    border-radius: 5px; /* Bordes redondeados en la imagen */
    float: left;
}

.product h3 {
    font-size: 1.2em; /* Tamaño de fuente para el título */
    max-width: 200px;
    margin: 10px 0; /* Espaciado alrededor del título */
    color: #333; /* Color del texto */
}

.product p {
    color: #667; /* Color del texto de la descripción */
    font-size: 0.9em; /* Tamaño de fuente más pequeño para la descripción */
}

/* Para el contenedor de productos */
#productContainer {
    display: flex; /* Usar flexbox para alinearlos */
    flex-wrap: wrap; /* Permitir que se ajusten a varias líneas */
    justify-content: space-between; /* Espacio uniforme entre productos */
    padding: 20px; /* Espaciado alrededor del contenedor */
    background-color: #f9f9f9; /* Fondo claro para el contenedor */
    border-radius: 10px; /* Bordes redondeados en el contenedor */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra suave para el contenedor */
}